__pycache__
exercise/__pycache__
exercise_2/basic_part1/__pycache__
fundamental/chapter_1/__pycache__
fundamental/chapter_2/__pycache__
fundamental/chapter_3/__pycache__
practice/__pycache__
practice_2/__pycache__
learnFlask
.vscode
.idea
